<section class="panel panel-primary">
    <header class="panel-heading">
        
        <div class="row">
            <div class="col-md-4">
                <h3>Transactions Details</h3>
            </div>
            <div class="col-md-4">
                <h5>From</h5>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dtFrom" is-open="$ctrl.dpFrom.opened"
                        datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.changeDate()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="col-md-4">
                <h5>To</h5>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.dtTo" is-open="$ctrl.dpTo.opened"
                        datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.changeDate()"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.openTo()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </header>
    <br/>
    
    <section ng-if="$ctrl.loading" class="panel-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Loading, please wait...
            </div>
        </div>
    </section>

    <section ng-if="!$ctrl.loading" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <h3><img class="pull-right" ng-src="{{ $ctrl.account.icon }}" alt=""></h3>
            <h3><strong>{{ $ctrl.account.name }}</strong></h3>
            <h4><em>Account ID: <strong>{{ $ctrl.account.account_id }}</strong></em></h4>                    
        </div>
        <div class="col-md-2"></div>
    </section>

    <section ng-if="!$ctrl.loading" class="panel-body">
        <div ui-grid="$ctrl.gridOptions" ui-grid-pagination class="myGrid"></div>
        <br/>
        <a class="btn btn-primary" ui-sref="app.account" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </a>
    </section>
</section>