<section class="panel panel-primary">
  <header class="panel-heading">
    <h3>Back Accounts</h3>
  </header>
  <section ng-if="loading" class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" style="width: 100%">
        Loading, please wait...
      </div>  
    </div>    
  </section>
  <section ng-if="!loading">
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Account ID</th>
            <th>User Name</th>
            <th>Currency</th>
            <th>Balance</th>
            <th>Profile Icon</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in $ctrl.accounts">

            <td>
              <a ui-sref="app.transactions({id: '{{account['account_id']}}'})">
                {{ account["account_id"] }}
              </a>
            </td>
            <td>
              <a ui-sref="app.transactions({id: '{{account['account_id']}}'})">
                {{ account["name"] }}
              </a>
            </td>
            <td>{{ account["currency"] }}</td>
            <td>{{ account["balance"]["balance"] | currency:"$":0}}</td>
            <td>
              <a ui-sref="app.transactions({id: '{{account['account_id']}}'})">
                <img ng-src='{{account["icon"]}}' alt="image">
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>