<nav class="navbar navbar-default">
    <div class="container-fliud">
        <section class="navbar-header">
            <div class="navbar-brand">Figo Back Access</div>
        </section>
    </div>            
</nav>
<div class="container">
    <ui-view></ui-view>
</div>